database.url=jdbc:mysql://localhost:3307/spotify_client
database.user=root
database.password=
database.delete.tables=true
database.init.tables=true
database.init.data=true
storage.data=./data
client.id=
client.secret=